*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

body{
  background-color: #222;
}

.card{
  width: 51vh;
  height: 65vh;
  /*max-width: 470px;*/
  background:linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 65px auto 0;
  border-radius: 20px;
  padding:10px;
  text-align: center;
}

.search{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
}
.search input{
  border: none;
  border-radius: 30px;
  background-color: #ebfffc;
  color: #555;
  padding: 9px 15px;
  height: 15px;
  width: 190px;
  font-size: 15px;
  margin-right: 9px;
}

.search button{
  background: #ebfffc;
  border: none;
  margin-left: 2px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;  
}

.search button img{
  padding: 10px;
  width: 9px;
}

.weather-icon{
  width: 130px;
  margin-top: 4px;
}

.temp{
  font-size: 50px;
  font-weight: 800;
  margin-top: -2px;
}

.city{
  font-size: 30px;
  font-weight: 800;
  margin-top: 5px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 5px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  margin-right: 12px;
  width: 30px;
}

.humidity, .wind {
  margin-top: 10px;
  font-size: 20px;
}




